---
title: Online-vakken
layout: page
---

<div class="">
    <div class="px-3 py-5">
        <h1 class="display-3 mb-5" style="line-height:0.8">Online-cursussen</h1>
        <p class="display-5 w-75">
            Volg onze vakken gratis online, of hergebruik het materiaal als je docent bent. 
        </p>
    </div>
</div>

<div class="row row-cols-1 row-cols-md-2">
    {% for course in site.courses %}
    {% if course.online %}
    <div class="col mb-4">
        <div class="card mb-3 bg-light border-0 h-100" style="min-height:40vw;">
            <!-- <div class="card-body">
                {% if course.image %}
                <img src="{{ site.baseurl }}/assets/courses/{{ course.image }}" class="img" style=" max-width:200px;" alt="...">
                {% endif %}
            </div> -->
            <div class="card-body flex-fill">
                    <h4 class="card-title">{{ course.name }}</h4>
                    <p class="card-text">{{ course.content | markdownify }}</p>
            </div>
        <div class="card-footer border-0">
            <a href="{{ course.online }}" class="card-link">Ga naar de cursus &rarr;</a>
            {% if course.sources %}
            <a href="{{ course.sources }}" class="card-link">Materialen op GitHub &rarr;</a>
            {% endif %}
        </div>
        </div>
    </div>  
    {% endif %}
    {% endfor %}
</div>
