---
layout: minai
title: Minor AI
---

<div class="position-relative text-center d-flex flex-column justify-content-center"
        style="min-height:calc(100vh - 112px);">
    <div class="my-5">
        <img class="img-fluid" style="max-width:30vw" src="{{ site.baseurl }}/assets/logos/ai.svg">
    </div>
    <div>
        <h1 class="display-4 d-inline" style="font-size:5.5rem;">Minor AI</h1>
        <h1 class="mt-3" style="font-size:1.5rem;"><small>Leer in vijf maanden programmeren en problemen oplossen met machine learning</small></h1>
    </div>
</div>



<div class="panel-bg min-vh-75 v-center panel-content-75 text-center text-light" style="background-image: url('{{ site.baseurl }}/assets/minorki/mensen.jpeg'); background-size: cover; background-repeat: no-repeat;">
    <p class="display-5" style=" text-shadow: 0px 0px 20px black;">
        Bij de minor AI kun je kennis maken met kunstmatige intelligentie en machine learning. Je leert werken met allerlei algoritmen, waarvan je een deel zelf gaat bouwen en toepassen op een breed scala aan problemen. De minor heeft geen ingangseisen op gebied van programmeren of wiskunde: wat je nodig hebt ga je bij ons leren!
    </p>
</div>

<div class="panel v-center">
    <div class="row">
        <div class="col-md-6 px-md-5 mb-5">
            <h2>Inhoud</h2>
            <p class="display-6">
                Machine learning is een actief en snel groeiend vakgebied, en technieken daaruit zijn de bron van de huidige revoluties in AI. Dat zijn niet, zoals we vroeger dachten, lopende robotbedienden, maar gerichte algoritmen die een specifiek probleem oplossen op basis van grote hoeveelheden data. Toepassingen van machine learning kun je terug vinden in allerlei vakgebieden:
            </p>
            <ul class="display-6">
                <li>Op basis van CT-scans proberen vroegtijdig te voorspellen of iemand longkanker heeft.</li>
                <li>Op basis van het leergedrag van kinderen in educatieve apps proberen het leertraject van ieder individueel kind te optimaliseren.</li>
                <li>Op basis van verspreidingscijfers en maatregelen per regio proberen te modelleren welke factoren het meest belangrijk zijn voor de verspreiding van COVID-19.</li>
                <li>Op basis van foto’s van onderwatercamera’s achter schepen proberen te classificeren welke plankton er aanwezig zijn in de oceaan, om zo een beter beeld te krijgen van de waterkwaliteit per regio.</li>
            </ul>
            <p class="display-6">
                Je begint de minor met de basis van machine learning en programmeren. Hierbij gaan we in op wat er nu precies geleerd wordt en hoe dit leerproces werkt. Voor een volledig beeld zullen we ook de onderliggende wiskunde in duiken en nadenken over filosofische vragen zoals wat nou het "intelligente" deel van de kunstmatige intelligentie is.
            </p>
            <p class="display-6">
                Als de fundamenten gelegd zijn kun je aan de slag met serieuze toepassingen. Je gaat neurale netwerken programmeren en deze toepassen op echte data. Ook zullen we aandacht besteden aan andere aspecten van dataverwerking, zoals data verzamelen en transformeren. Aan het eind sluiten we het de minor af met een groot project van vier weken.
            </p>
        </div>
        <div class="col-md-6 px-md-5">
            <h2>Aanbod</h2>
            <p class="display-6">
                Dit studiejaar is in elk van beide semesters plek voor 24 UvA-studenten. Er is 
                een (online) aanwezigheidsplicht: de deelnemers worden in teams ingedeeld die
                vijf maanden lang samen studeren en leren. Wil je meedoen,
                dan verwachten we dat je fulltime reserveert voor de vakken. Je kunt dan niet 
                door de weeks werken of andere vakken volgen. 
            </p>
            <h2>Selectie</h2>
            <p class="display-6">
                De minor heeft geen eisen wat betreft voorkennis, behalve een voldoende voor
                wiskunde A of B op vwo-niveau. Er zal vanwege het beperkt aantal plaatsen wel 
                een selectieprocedure zijn.
                De minor richt zich specifiek op studenten met vrij weinig voorkennis op het 
                gebied van wiskunde en programmeren, dus we willen graag weten met welke voorkennis
                je precies binnen komt, zodat we kunnen checken of je bij ons op de juiste plek
                zit. Daarnaast kiezen we bij deze eerste lichting voor een mix van studenten van
                verschillende UvA-opleidingen.
            </p>
            <h2>Oefenopdracht</h2>
            <p class="display-6">
                Ter voorbereiding en om je alvast een idee te geven van het curriculum, hebben we
                een oefenopdracht gemaakt. Je hoeft deze opdracht niet helemaal af te krijgen, 
                maar het kan wel helpen om alvast te beslissen of je leren programmeren leuk 
                zou vinden. <a href="intro.html">Bekijk de opdracht.</a>
            </p>
            <h2>Deadline</h2>
            <p class="display-6">
                Als je het formulier hebt in gevuld met informatie over je achtergrondkennis, de studie die je op 
                dit moment doet, en je motivatie, krijg je van ons een reactie met mogelijk een
                uitnodiging voor een videogesprek. De eerste deadline voor aanmeldingen is 27 
                november. Je kunt je op dit moment alleen aanmelden voor het tweede semester.
            </p>
        </div>
    </div>
</div>


<div class="panel-padded panel-bg text-center bg-light">
    
    <h1 class="display-3 pb-4">Vakken</h1>
    
    <h4 class="pb-4">Semester 1</h4>

    <table class="table table-sm table-bordered w-75">
        <tr>
            <th>september/oktober</th>
            <th>november/december</th>
            <th>januari</th>
        </tr>
        <tr>
            <td>Python voor Data Processing</td>
            <td>Data Pipelines</td>
            <td rowspan="2">Machine Learning Project</td>
        </tr>
        <tr>
            <td>Machine learning 1</td>
            <td>Machine learning 2</td>
        </tr>
    </table>
    
    <div class="w-75-centered mt-5 text-left row row-cols-1 row-cols-md-2">
        {% assign courses = site.courses | sort: "order" %}
        {% for course in courses %}
        {% if course.curriculum == "Minor KI" %}
        <div class="col mb-4 px-0 px-md-3">
            <div class="card mb-3 bg-light border-0 h-100" style="smax-width: 540px;">
                <div class="card-body psx-0 px-md-3">
                    <h5 class="card-title">{{ course.name }}</h5>
                    <p class="card-text">{{ course.content | markdownify }}</p>
                    {% for speed in course.info %}
                    <p class="card-text mb-1">
                        <a href="{{ speed.studiegids }}">Studiegids &rarr;</a>
                    </p>
                    {% endfor %}
                </div>
            </div>
        </div>  
        {% endif %}
        {% endfor %}
    </div>

    
    <h4 class="mt-4">Startdata</h4>
    <p class="display-6 w-50">
        Het eerste semester loopt van 31 augustus t/m 29 januari, en het tweede semester loopt van 1 februari t/m 25 juni. Let op dat in het eerste semester geen herfstvakantie is. Een complete kalender van het academisch jaar 2020-2021 <a href="https://www.uva.nl/onderwijs/bachelor/praktische-zaken/academische-kalender/academische-kalender.html">vind je hier</a>.
    </p>
    

</div>



<div class="panel text-md-center">
    
    <h1 class="display-3">Alternatieven</h1>
    
    <p class="display-6 w-50-centered mx-auto pb-md-5">
        Heb je al meer programmeerervaring? Dan zijn er bij de UvA twee andere AI-minoren waar je aan mee kunt doen.
    </p>

    <div class="row row-cols-1 row-cols-md-2 w-75-centered">
        <div class="col mb-4 border-right">
            <div class="card shadows border-0">
                <div class="card-body p-md-5">
                    <h5 class="card-title">
                        Minor Kunstmatige Intelligentie<br>
                        (op maat samengesteld)
                    </h5>
                    <p class="card-text">
                        Stel een pakket samen uit de vakken van de bachelor Kunstmatige
                        Intelligentie. Vakken zijn grotendeels in het Nederlands. Studenten
                        van bijvoorbeeld Natuurkunde of Econometrie kunnen hier goed aansluiten
                        door hun voorkennis van wiskundig modelleren en eventueel programmeren.
                    </p>
                    <a href="https://studiegids.uva.nl/xmlpages/page/2019-2020/zoek-minor/opleiding/5817" class="card-link">Meer informatie in de UvA-studiegids &rarr;</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadows border-0">
                <div class="card-body p-md-5">
                    <h5 class="card-title">Minor Data Science and Artificial Intelligence</h5>
                    <p class="card-text">
                        Je volgt een vast programma van minorvakken bij de faculteit
                        Economie en Bedrijfskunde. De minor biedt een diepgaand
                        overzicht van moderne toegepaste AI met speciale aandacht voor 
                        technieken uit de data science. 
                        Goede voorkennis van Python en statistiek is een vereiste.
                    </p>
                    <a href="https://studiegids.uva.nl/xmlpages/page/2019-2020/zoek-minor/opleiding/5574" class="card-link">Meer informatie in de UvA-studiegids &rarr;</a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="text-md-center" class="m-3">
        <a href="{{ site.baseurl }}/keuzehulp/" class="text-reset d-block p-md-5 w-100 h-100">
        Wil je vergelijken met meer minoren uit het vakgebied van de informatica? 
        Ga naar de keuzehulp →
        </a>
    </div>
    

</div>



<div class="min-vh-75 v-center text-center bg-warning py-5">
    <div class="px-4">
        <h1 class="display-3 text-center mb-4">Aanmelden</h1>
        <p class="w-50 mx-auto mb-5" style="font-size:1.2rem;">
            De aanmelding voor 
            het tweede
            semester loopt t/m 27 november.
            Om je aanmelding te starten voor de minor AI vul je eerst op deze website je 
            gegevens in. Dan 
            start een selectie- en adviestraject. Als je geselecteerd wordt voor de minor dan
            helpen we je verder met de vakinschrijving, die hoef je niet zelf te regelen.
        </p>
        <p class="mb-0">
            <a class="btn btn-outline-dark btn-lg" href="https://register.mprog.nl/">Aanmelden voor de selectie</a>
        </p>
    </div>
</div>


<div class="panel-bg panel-padded panel-content-50">
    <h1 class="display-4">Vragen</h1>
    <p class="display-6">
        Heb je nog vragen? Stuur een e-mail naar <a href="mailto:help@mprog.nl">help@mprog.nl</a>. E&eacute;n van de docenten of assistenten zal je te woord staan.
    </p>
</div>

