---
---

p:last-child
{
	margin-bottom:0;
}

.display-3
{
    margin-bottom:1rem;
}

.display-4
{
	font-weight:500;
	margin-bottom:1rem;
}

.display-5
{
	font-size:1.5rem;
}

.display-6
{
	font-size:1.2rem;
}

@media (max-width: 375px)
{
	.display-4
	{
		font-size:2.5rem!important;
	}
}

@media (max-width: 767.98px)
{
	.display-3
	{
		font-size:2.5rem;
	}
	.display-5
	{
		font-size:1.2rem;
	}

	.display-6
	{
		font-size:1.1rem;
	}
}
