---
---

.keuzehulp  {
    color: grey;
    position: relative;
    width: 100vw;
    margin-left: -50vw;
    left: 50%;

    .col {
        padding-left: 9px;
    }

    .card img {
        padding: 10px 4px 4px 4px;
        width: 30%;
        margin: auto;
        cursor: pointer;
    }

    .card {
        border-radius: 3px;
        width: 102%;
        opacity: 1;
        transition: all 0.5s;
        border: none;
        box-shadow: 0 1rem 3rem rgba(0,0,0,.175)
    }

    .card-body {
        padding: 0.8rem;
        padding-bottom: 0px;
    }

    .card-body p {
        font-size: 12px;
        padding: 0px;
        margin: 0px;
    }

    .card a {
        color: darkgrey;
        margin-left: 10px;
        margin-top: 8px;
        padding-bottom: 10px;
    }

    .card li {
        font-size: 12px;
        color: black;
    }

    .card-text {
        font-size: 12px;
    }

    .wrapper {
        display: flex;
    }

    .row, .nav {
        height: 100%;
        position: absolute;
        top: 0;
    }

    .nav {
        z-index: 0;
        width: 100%;
        height: 130px;
        background: #142530;
    }

    .row {
        width: 100%;
        z-index: 10;
        margin: auto;
        padding: 2.5%;
        padding-top: 0%;
    }

    .card ul > li > p {
        margin-bottom: 1px;
    }

    .card h6 {
        margin-bottom: 1px;
        font-size: 14px;
    }

    .dot {
        height: 8px;
        width: 8px;
        background-color: black;
        border-radius: 50%;
        display: inline-block;
    }


    h5 {
        font-size: 16px;
        margin: -2px;
        padding: 0;
        color: black;
        text-align: center;
    }

    h6 {
        text-align: center;
        line-height: 15px;
    }

    .center {
        text-align: center;
    }


    #programmeren, #computational, #informationsystems, #AI, #scientific {
        height: 450px;
    }

    #programmeren hr {
        border: 1px solid firebrick;
        background: firebrick;
    }

    #scientific hr {
        border: 1px solid maroon;
        background: maroon;
    }

    #scientific img {
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
    }

    #AI hr {
        border: 1px solid gold;
        background: gold;
    }

    #computational hr {
        border: 1px solid orange;
        background: orange;
    }

    #informationsystems hr {
        border: 1px solid navy;
        background: navy;
    }

    #KI hr, #datascience hr {
        margin: 2% 0px 3% 0px;
        background: gold;
        border: 1px solid gold;
    }

    .col {
        max-width: calc(100% - 50px);
        margin-top:10px;
    }

    .card-title-responsive {
        display: none;
    }

    #datascience h6.card-title, #KI h6.card-title {
        color: black;
    }

    #datascience p, #KI p {
        font-size: 12px;
    }

    #datascience {
        margin-bottom: 20px;
    }

    .space {
        height: 100px;
        display: none;
    }

    @media only screen and (max-width: 820px)
    {
        .wrapper {
            display: block;
            margin: auto;
            align-content: center;
        }

        .wrapper img {
            max-width: 80px;
            max-height: 80px;
        }

        .keuzehulp .col {
            max-width: 100%;
            margin-top: 20px;
        }

        .keuzehulp .card img {
            float: right;
            position: absolute;
            margin: 10px;
            right: 5%;
        }

        .minor-title {
            margin-top: 20px;
        }

        .card ul > li > p {
            margin-bottom: 1px;
            font-size: 1.2em;
        }
        .card-body p {
            font-size: 13px;
        }

        hr {
            margin-top: 45px;
        }

        #programmeren, #computational, #informationsystems, #AI, #scientific {
            height: auto;
        }

        .space {
            display: block;
        }

        .card-title {
            display: none;
        }

        .card-title-responsive {
            display: block;
        }
        h5 {
            margin-left: 10px;
            font-size: 18px;
            text-align: left;
        }

    }

    @media only screen and (max-width: 1070px)
    {
        #programmeren, #computational, #informationsystems, #AI, #scientific {
            height: auto;
        }

    }
}
