.keuzehulp  {
  color: grey;
  position: relative;
  width: 100vw;
  margin-left: -50vw;
 left: 50%;
}

.keuzehulp .col {
  padding-left: 9px; }

.keuzehulp .card img {
  padding: 10px 4px 4px 4px;
  width: 30%;
  margin: auto;
  cursor: pointer; }

.keuzehulp .card {
  border-radius: 3px;
  width: 102%;
  opacity: 1;
  transition: all 0.5s;
  border: none;
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175)}

.keuzehulp .card-body {
  padding: 0.8rem;
  padding-bottom: 0px; }

.keuzehulp .card-body p {
  font-size: 12px;
  padding: 0px;
  margin: 0px; }

.keuzehulp .card a {
  color: darkgrey;
  margin-left: 10px;
  margin-top: 8px;
  padding-bottom: 10px; }

.keuzehulp .card li {
  font-size: 12px;
  color: black; }

.keuzehulp .card-text {
  font-size: 12px; }

.wrapper {
  display: flex; }

.keuzehulp .row,
.nav {
  height: 100%;
  position: absolute;
  top: 0; }

.nav {
  z-index: 0;
  width: 100%;
  height: 130px;
  background: #142530; }

.keuzehulp .row {
  width: 100%;
  z-index: 10;
  margin: auto;
  padding: 2.5%;
  padding-top: 0%; }

.keuzehulp .card ul > li > p {
  margin-bottom: 1px; }

.keuzehulp .card h6 {
  margin-bottom: 1px;
  font-size: 14px; }

.dot {
  height: 8px;
  width: 8px;
  background-color: black;
  border-radius: 50%;
  display: inline-block; }


.keuzehulp h5 {
  font-size: 16px;
  margin: -2px;
  padding: 0;
  color: black;
  text-align: center; }

.keuzehulp h6 {
  text-align: center;
  line-height: 15px; }

.center {
  text-align: center; }


#programmeren, #computational, #informationsystems, #AI, #scientific {
  height: 450px;
}

#programmeren hr {
  border: 1px solid firebrick;
  background: firebrick;
}

#scientific hr {
  border: 1px solid maroon;
  background: maroon;
}

#scientific img {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

#AI hr {
  border: 1px solid gold;
  background: gold;
}

#computational hr {
  border: 1px solid orange;
  background: orange;
}

#informationsystems hr {
  border: 1px solid navy;
  background: navy;
}

#KI hr, #datascience hr {
  margin: 2% 0px 3% 0px;
  background: gold;
  border: 1px solid gold;
}

.keuzehulp .col {
  max-width: calc(100% - 50px);
  margin-top:10px;
}

#datascience h6.card-title, #KI h6.card-title {
  color: black;
}

#datascience p, #KI p {
  font-size: 12px;
}

#datascience {
  margin-bottom: 20px;
}
