p
{
	hyphens: auto;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
}

.mainnav
{
/*	background-color:#28ABE2;*/
	background-color:#0E1F2B;
	opacity:0.98;
}

.display-4
{
	font-weight:500;
}

#mainnav .nav-item
{
	text-align:center;
}

#mainnav
{
	align-items: flex-start;
}

#mainnav .navbar-nav
{
/*	width:100%;*/
	
}

#mainnav .navbar-nav .nav-item
{
	flex: 1 1 auto;
	//margin-right:2rem;
}

#mainnav .navbar-brand img
{
	vertical-align:text-top;
	height:1.5rem;
}

.sidebar
{
	padding:1.5rem 0.5rem;
}

.content
{
	padding-top: 0;
}

@media (min-width: 48em) {
	.content {
		padding-top:3rem;
	}
}

@media (min-width: 64em) {
	.content {
		margin-left: 20rem;
		margin-right: 2rem;
	}
}

div.gallery
{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	align-content: center;
	padding:0.25rem 0;
}

div.gallery img
{
	margin:0.25rem 0;
	object-fit: contain;
	border-radius:0;
}

div.gallery.small img
{
	margin:0.125rem 0;
}

@media (max-width: 575.98px)
{
	div.gallery img
	{
		width: calc(50% - 0.25rem);
	}

	div.gallery.small img
	{
		width: calc(25% - 0.25rem);
	}
}

@media (min-width: 576px)
{
	div.gallery img
	{
		width: calc(33% - 0.25rem);
	}

	div.gallery.small img
	{
		width: calc(25% - 0.25rem);
	}
}

@media (min-width: 768px)
{
	div.gallery img
	{
		width: calc(33% - 0.5rem);
	}
	div.gallery.small img
	{
		width: calc(20% - 0.25rem);
	}
}

@media (min-width: 992px)
{
	div.gallery img
	{
		width: calc(25% - 0.5rem);
	}
	div.gallery.small img
	{
		width: calc(12.5% - 0.25rem);
	}
}

@media (min-width: 768px)
{
	.w-75-centered
	{
		width:75%!important;
		margin-left:auto;
		margin-right:auto;
	}

	.w-50-centered
	{
		width:50%!important;
		margin-left:auto;
		margin-right:auto;
	}
}

@media (max-width: 374.98px)
{
	.display-4
	{
		font-size:2.5rem!important;
	}
}

.display-5
{
	font-size:1.5rem;
}

.display-6
{
	font-size:1.2rem;
}

@media (max-width: 767.98px)
{
	.w-75-centered
	{
		width:initial!important;
	}
	
	.w-75
	{
		swidth:initial!important;
	}
	.w-50
	{
		width:initial!important;
	}
	.display-3
	{
		font-size:2.5rem;
	}
}

.page-title
{
	margin-bottom:1em;
}

.page-logo
{
	display:inline;
	max-width:3rem;
}

/*h1, h2, h3, h4, h5, h6 {
	margin-top:1.5rem;
	margin-bottom: 1.5rem;
}
*/

.sidebar-heading
{
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 14px;
}

.sidebar-nav
{
	margin-bottom:1rem;
}

.sidebar p
{
	margin-bottom:.25rem;
}


#keuze .card
{
	background-color: transparent;
	padding:0;
}

.panel
{
	margin-top:3rem;
	margin-bottom:3rem;
}

.min-vh-75
{
	min-height: 75vh;
}

.min-vh-50
{
	min-height: 50vh;
}

.v-center
{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
