---
title: Scientific Programming
layout: scientific
---

<div class="position-relative text-center d-flex flex-column justify-content-center"
        style="min-height:calc(100vh - 112px);">
    <div class="my-5">
        <img class="img-fluid" style="max-width:30vw" src="{{ site.baseurl }}/assets/logos/scientific.svg">
    </div>
    <div>
        <h1 class="display-4 d-inline" style="font-size:5.5rem;">Scientific Programming</h1>
        <h1 class="mt-3" style="font-size:1.5rem;"><small>Learn to program in Python and use your skills in scientific projects</small></h1>
    </div>
</div>

<div class="mb-4 panel-padded panel-content-75 v-center bg-warning px-3">
    <h2>
        What this is about
    </h1>
    <p class="display-6">
        Scientists use computation to simulate real-world scenarios, to mine data obtained in
        large-scale studies, and to gain insights that might otherwise stay hidden. A bit of 
        programming knowledge and a couple of 
        basic techniques are all that you need to get better and faster results. Our courses below
        help you learn Python, a language now often used in science, as well as many techniques
        that you can use in your own projects. Whether you're a student or a seasoned researcher,
        you're welcome to learn with us!
    </p>
    <h2>
        How we teach
    </h1>
    <p class="display-6">
        Teaching is online for this track. The courses are self-contained and allow you to progress
        by studying programming theory and... writing many programs!
        All problems are small versions of real scientific computing challenges. Later, you'll
        progress towards defining, designing and implementing larger projects. Upon registration, you get access to a forum where
        students post questions and answers. In case you get stuck, there's also an option to book
        a one-on-one appointment with one of the staff. 
    </p>
</div>

<div class="panel-padded">
    
    <h1 class="display-3 text-center mb-4">Courses</h1>
    <p class="mb-5 display-6 w-50-centered">
        Follow the links below to have a look at any of the courses. You can immediately 
        start practicing if you'd like! And if you're a UvA
        staff or student, you might consider registering to earn credit or a certificate as well.
    </p>
    
    <div class="row row-cols-1 row-cols-md-2">    
        {% for course in site.courses %}
        {% if course.curriculum=='scientific' %}
        <div class="col mb-4">
            <div class="card mb-3 bg-light border-0 h-100" style="min-height:20vw;">
                <!-- <div class="card-body">
                    {% if course.image %}
                    <img src="{{ site.baseurl }}/assets/courses/{{ course.image }}" class="img" style=" max-width:200px;" alt="...">
                    {% endif %}
                    </div>
                    -->
                <div class="card-body flex-fill">
                    <h4 class="card-title">{{ course.name }}</h4>
                    <p class="card-text">{{ course.content | markdownify }}</p>
                </div>
                <div class="card-footer border-0">
                    <a href="{{ course.online }}" class="card-link">
                        Visit the course website &rarr;
                    </a>
                    <a href="{{ course.info[0].studiegids }}" class="card-link">
                        Course info &rarr;
                    </a>
                </div>
            </div>
        </div>  
        {% endif %}
        {% endfor %}
    </div>

</div>

<div class="min-vh-75 v-center text-center bg-warning py-5">
    <div class="px-4">
        <h1 class="display-3 text-center mb-4">Registration</h1>
        <p class="w-50 mx-auto mb-5" style="font-size:1.2rem;">
            You can earn a certificate or course credit if you're among UvA students or staff
             (generally for free!). Enrolling officially also connects you to the community 
             of students and teachers for our courses. Generally, you can plan to do any of our
             courses between September&endash;December and February&endash;May.
            To enrol, enter your information on our registration website, and
            we'll guide you through the process.
        </p>
        <p class="mb-0">
            <a class="btn btn-outline-dark btn-lg" href="https://register.mprog.nl/">Register now</a>
        </p>
    </div>
</div>

<div class="panel-bg panel-padded panel-content-50">
    <h1 class="display-4">Questions</h1>
    <p class="display-6">
        Have questions? Send us an e-mail at <a href="mailto:help@mprog.nl">help@mprog.nl</a>. One of the teachers or assistants will help you out.
    </p>
</div>
