<!DOCTYPE html>
<html lang="nl">

  {% include head.html %}

  <body>
      
    {% include sidebar.html %}

    <div class="content container">
      <div class="message"><p>Meer informatie over het aanbod in studiejaar 2020/2021 volgt op 1 mei. Je moet je tot die tijd nog niet gaan inschrijven. Wil je <strong>dit jaar</strong> nog een vak volgen, stuur dan een e-mail.</p><p>More information about our course offerings in 2020/2021 will be published on May 1st. You should not start the enrolment process before that time. If you'd like do a course with us <strong>now</strong>, please send an e-mail.</p></div>

      {{ content }}
    </div>

  </body>
</html>
