<!DOCTYPE html>
<html lang="nl">

  {% include head.html %}

  <body>
    {% include topbar.html %}

    {{ content }}

    <div class="container-fluid border-top text-center py-3">
        <small class="text-muted">Copyright 2020-2021 Martijn Stegeman / Universiteit van Amsterdam. Alle rechten voorbehouden. Icons made by <a href="https://www.flaticon.com/authors/eucalyp" title="Eucalyp">Eucalyp</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>.</small>
    </div>
  </body>
</html>
