---
layout: page
---

<nav id="secondnav" class="navbar navbar-expand-lg sticky-top navbar-light px-0 border-bottom" style="background-color:#fff">
    <a class="navbar-brand" href="{{ site.baseurl }}/electives/machine">Electives Machine Learning</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#secondnavbarNav" aria-controls="secondnavbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>


{{ content }}
