---
layout: page
---

<nav id="secondnav" class="navbar navbar-expand-lg sticky-top navbar-light px-0 border-bottom" style="background-color:#fff">
    <a class="navbar-brand" href="/minoren/minprog">Minor Kunstmatige Intelligentie</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#secondnavbarNav" aria-controls="secondnavbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="secondnavbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/minoren/minprog/fulltime">Praktische informatie</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item float-right">
                <a class="nav-link btn btn-warning btn-sm" href="/minoren/aanmelden">Aanmelden</a>
            </li>
        </ul>
    </div>
</nav>


{{ content }}
