---
title: Keuzevakken
layout: page
---

<div class="">
    <div class="py-4 py-md-5">
        <h1 class="display-3 mb-5" style="line-height:0.8">Keuzevakken</h1>
        <p class="display-6 w-md-75">
            Sommige van onze vakken kun je doen buiten een minor om. Bijvoorbeeld als je al
            enkele programmeervakken hebt gevolgd en verdieping zoekt. Inschrijven doe je
            gewoon tijdens de vakinschrijvingsperiode van je eigen studie (UvA).
        </p>
    </div>
</div>

<div class="row row-cols-1 row-cols-md-2">
    {% for course in site.courses %}
    {% if course.keuzevak %}
    <div class="col mb-4">
        <div class="card mb-3 bg-light border-0 h-100" style="min-height:40vw;">
            <div class="card-body">
                <h4 class="card-title">{{ course.name }}
                    {% if course.doelgroep %}
                    <br><small class="text-muted">{{ course.doelgroep }}</small>
                    {% endif %}
                </h5>
                <p class="card-text">{{ course.content | markdownify }}</p>
                {% if course.periode %}
                <p><small class="text-muted">{{ course.periode }}</small></p>
                {% endif %}
            </div>
            <div class="card-footer border-0">
                <a href="{{ course.studiegids }}" class="card-link">Studiegids &rarr;</a>
                <!-- <a href="https://m.sis.uva.nl/vakaanmelden/planner/courses/add?catalogNumber={{ course.vakcode['parttime'] }}&year=2020">Inschrijven &rarr;</a> -->
                <a class="card-link link-disabled">Inschrijven kan vanaf half juni</a>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
